@page "{id?}"
@using MonopolyCL.Extensions
@using MonopolyCL.Helpers
@using MonopolyCL.Models.Properties.Enums
@model MonopHelper.Pages.TurnBased.Play

@{
    var title = Model.Game.Game.Name;
    if (string.IsNullOrEmpty(title))
    {
        title = "Turn Based Game";
    }
    ViewData["Title"] = $"{title} - Play";
    Layout = "TurnBased/Shared/_TurnLayout";
    
    var mpProps = Model.CurrentPlayer?.Properties?.Where(p => p.IsMortgaged && p.OwnerId == Model.CurrentPlayer?.GamePid)
        .OrderBy(p => p.Set.Order()).ThenBy(p => p.Cost).ToList();
    var resProps = Model.CurrentPlayer?.Properties?.Where(p => p is { IsReserved: true, IsMortgaged: false, IsInFreeParking: false })
        .OrderBy(p => p.Set.Order()).ThenBy(p => p.Cost).ToList();
}

<span hidden="@true" id="game-id">@Model.Game.Game.Id</span>

<div class="row align-items-center mt-4 mb-2">
    <div class="col-8">
        @{
            var font = ColourHelper.FontColour(Model.CurrentPlayer?.Colour ?? "#000000");
            var col = Model.CurrentPlayer?.Colour ?? "#000000";
            var playerTitle = Model.SwitchView ? $"Viewing {(Model.CurrentPlayer?.Name ?? "[ERROR]")}" : $"{(Model.CurrentPlayer?.Name ?? "[ERROR]")}'s Turn";
        }
        <div class="p-4" style="background: @col; color: @font; box-shadow: 2px 5px 18px #888888;">
            <h1 class="text-center">@playerTitle</h1>
        </div>
    </div>
    <div class="col-4">
        @{
            if (Model.SwitchView)
            {
                <form method="post" asp-page-handler="Return">
                    <button class="btn btn-success p-2" style="width: 100%; box-shadow: 2px 5px 18px #888888; font-size: 18px; font-weight: bold;"
                            type="submit">
                        Return to Player
                    </button>
                </form>
            }
            else
            {
                <form method="post" asp-page-handler="End">
                    <button class="btn btn-danger p-2" style="width: 100%; box-shadow: 2px 5px 18px #888888; font-size: 18px; font-weight: bold;"
                            type="submit">
                        End Turn
                    </button>
                </form>
            }

            
            var playerList = Model.Game.Players.Where(p => p != Model.CurrentPlayer).Select(p => new SelectListItem { Text = p.Name, Value = p.Id.ToString() }).ToList();
            <div class="mt">
                <form method="get">
                    <div class="clearfix">
                        <select class="form-control float-start" style="width: 50%; box-shadow: 2px 5px 18px #888888;" asp-items="playerList" asp-for="SwitchPlayerId"></select>
                        <button type="submit" class="btn btn-info float-end text-white" style="box-shadow: 2px 5px 18px #888888; width: 45%">Switch</button>
                    </div>
                </form>
            </div>
        }
    </div>
</div>
<div class="h-line mt-4"></div>

<div class="my-3" id="game-alerts">
    <partial name="Shared/TurnBased/_AlertPartial" model="Model.Alert"/>
</div>

<div class="row mb-4">
    <div class="col-4">
        <div class="card mt mb">
            <div class="card-header bg-info text-white">
                Player Numbers
            </div>
            <div class="card-body bg-light">
                <ul class="list-group list-group-flush">
                    @{
                        foreach (var player in Model.Game.Players)
                        {
                            <li class="list-group-item" style="background: inherit !important;">
                                <h5 class="badge rounded-pill plyrLabel-@(player.Id)">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="fa-solid fa-dice"></span> @player.Name:
                                        </div>
                                        <div class="col-sm-6">
                                            @player.DiceNumber?.Dice1 | @player.DiceNumber?.Dice2
                                        </div>
                                    </div>
                                </h5>
                            </li>
                            
                            var fontCol = ColourHelper.FontColour(player.Colour);
                            <style>
                                .plyrLabel-@(player.Id){
                                    background: @(player.Colour);
                                    color: @(fontCol);
                                    width: 100%;
                                    padding: 10px;
                                    font-size: 1rem;
                                    overflow-wrap: break-word;
                                }
                            </style>    
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="card mt mb">
            <div class="card-header bg-success text-white">
                Cards
            </div>
            <div class="card-body bg-light">
                @{
                    foreach (var type in Model.Game.Cards?.Types ?? [])
                    {
                        <div class="mb">
                            <button class="btn btn-light typeBtn-@(type.Type.Id)"
                                    onclick="takeCard('@(Model.Game.Cards?.Game.Id)','@(type.Type.Id)')"
                                    type="button" data-bs-toggle="offcanvas" data-bs-target="#card-take" aria-controls="card-take">
                                @type.Type.Name Card
                            </button>
                        </div>
                        
                        var fontCol = ColourHelper.FontColour(type.Type.Colour);
                        var hovCol = ColourHelper.HoverColour(type.Type.Colour);

                        <style>
                            .typeBtn-@(type.Type.Id){
                                background: @(type.Type.Colour);
                                color: @(fontCol);
                                width: 100%;
                                height: 60px;
                                overflow-wrap: break-word;
                            }
            
                            .typeBtn-@(type.Type.Id):hover{
                                background: @(hovCol);
                                color: @(fontCol);
                            }
                        </style>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-8" id="player-partial">
        <partial name="Shared/TurnBased/_PlayerPartial" model="Model.CurrentPlayer"/>
    </div>
</div>

<div class="my-4">
    <form method="post" asp-page-handler="Bankrupt" id="bankrupt-form">
        <input type="hidden" asp-for="SwitchPlayerId"/>
        <button style="width: 100%; height: 80px" class="btn btn-danger rounded-pill" type="button" onclick="bankrupt('@(Model.CurrentPlayer.Name)')">Declare Bankruptcy</button>
    </form>
</div>
<div class="my-4">
    <form method="post" asp-page-handler="Draw" id="draw-form">
        <button style="width: 100%; height: 80px" class="btn btn-warning rounded-pill" type="button" onclick="draw()">Declare Draw & Delete Game</button>
    </form>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="fp-oc" aria-labelledby="fp-oc-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="fp-oc-label">Hand a Property into Free Parking</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" asp-page-handler="FreeParking">
                <input type="hidden" asp-for="FreeParkingInput.PlayerId" value="@Model.CurrentPlayer?.GamePid"/>
                <input type="hidden" asp-for="SwitchPlayerId"/>
                <div class="mb-4">
                    <select class="form-control" asp-for="FreeParkingInput.Id" asp-items="Model.FreeParkingProperties"></select>
                </div>
                <input type="submit" class="btn btn-primary" value="Confirm"/>
            </form>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="mp-new" aria-labelledby="mp-new-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="mp-new-label">Mortgage a Property</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" asp-page-handler="Mortgage">
                <input type="hidden" asp-for="MortgageInput.PlayerId" value="@Model.CurrentPlayer?.GamePid"/>
                <input type="hidden" asp-for="SwitchPlayerId"/>
                <div class="mb-4">
                    <select class="form-control" asp-for="MortgageInput.Id" asp-items="Model.MortgageProperties"></select>
                </div>
                <input type="submit" class="btn btn-primary" value="Confirm"/>
            </form>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="mp-pay" aria-labelledby="mp-pay-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="mp-pay-label">Pay Mortgage Fee</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Property</th>
                    <th style="width: 100px">Cost</th>
                </tr>
                </thead>
                <tbody>
                @{
                    var total = 0;
                    foreach (var mp in mpProps!)
                    {
                        var cost = ((int)(mp.Cost / 10d)).RoundToTen();
                        total += cost;
                        <tr>
                            <td>@mp.Name</td>
                            <td><span class="money">₩</span>@cost</td>
                        </tr>
                    }
                }
                <tr>
                    <td><b>Total</b></td>
                    <td><b><span class="money">₩</span>@total</b></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-top" tabindex="-1" id="l-pay" aria-labelledby="l-pay-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="l-pay-label">Repay Loans</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" asp-page-handler="PayLoan" id="pay-loans">
                <input type="hidden" asp-for="PayLoanInput.PlayerId" value="@Model.CurrentPlayer?.GamePid"/>
                <input type="hidden" asp-for="SwitchPlayerId"/>
                <div class="row">
                    <div class="col-sm-6">
                        @{
                            var activeLoans = Model.CurrentPlayer?.Loans.Where(l => !l.Repaid).ToList() ?? [];
                            var totalLoan = activeLoans.Select(l => l.Amount).Sum();
                            var repaid = activeLoans.Select(l => l.RepaidAmount).Sum();
                            var outStanding = activeLoans.Select(l => l.Outstanding()).Sum();
                            var p5 = activeLoans.Select(l => l.Pass(1)).Sum();
                            var p10 = activeLoans.Select(l => l.Pass(2)).Sum();
                            var p15 = activeLoans.Select(l => l.Pass(3)).Sum();
                            var p20 = activeLoans.Select(l => l.Pass(4)).Sum();
                        }
                        <table class="table table-striped table-hover mb-3">
                            <thead>
                            <tr>
                                <th>Loan Information</th>
                                <th style="width: 100px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Total Loan Amount:</td>
                                <td><span class="money">₩</span>@totalLoan</td>
                            </tr>
                            <tr>
                                <td>Amount Repaid:</td>
                                <td><span class="money">₩</span>@repaid</td>
                            </tr>
                            <tr>
                                <td>Outstanding:</td>
                                <td><span class="money">₩</span>@outStanding</td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table table-striped table-hover mb-3">
                            <thead>
                            <tr>
                                <th>Standard Repayments</th>
                                <th style="width: 100px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>One Pass (5%):</td>
                                <td><span class="money">₩</span>@p5</td>
                            </tr>
                            <tr>
                                <td>Two Passes (10%):</td>
                                <td><span class="money">₩</span>@p10</td>
                            </tr>
                            <tr>
                                <td>Three Passes (15%):</td>
                                <td><span class="money">₩</span>@p15</td>
                            </tr>
                            <tr>
                                <td>Four Passes (20%):</td>
                                <td><span class="money">₩</span>@p20</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <p><b>Repayment Options</b></p>
                        <input type="hidden" id="repay-percent" value="5" asp-for="PayLoanInput.Percentage"/>
                        <div class="mt mb">
                            <label>One Pass (5%) - <span class="money">₩</span>@p5</label><br/>
                            <button type="button" class="btn btn-warning mt" onclick="payLoan(1)">Repay 5%</button>
                        </div>
                        <div class="mt mb">
                            <label>Two Passes (10%) - <span class="money">₩</span>@p10</label><br/>
                            <button type="button" class="btn btn-warning mt" onclick="payLoan(2)">Repay 10%</button>
                        </div>
                        <div class="mt mb">
                            <label>Three Passes (15%) - <span class="money">₩</span>@p15</label><br/>
                            <button type="button" class="btn btn-warning mt" onclick="payLoan(3)">Repay 15%</button>
                        </div>
                        <div class="mt mb">
                            <label>Four Passes (20%) - <span class="money">₩</span>@p20</label><br/>
                            <button type="button" class="btn btn-warning mt" onclick="payLoan(4)">Repay 20%</button>
                        </div>
                        <div class="mt mb">
                            <label asp-for="PayLoanInput.TotalAmount"></label>
                            <input asp-for="PayLoanInput.TotalAmount" class="form-control"/>
                            <button type="button" class="btn btn-warning mt-3" onclick="payLoan(-1)">Repay Custom</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="l-new" aria-labelledby="l-new-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="l-new-label">Mortgage a Property</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" asp-page-handler="NewLoan">
                <input type="hidden" asp-for="NewLoanInput.PlayerId" value="@Model.CurrentPlayer?.GamePid"/>
                <input type="hidden" asp-for="SwitchPlayerId"/>
                <div class="mb-4">
                    <label asp-for="NewLoanInput.Amount" class="form-label"></label>
                    <input asp-for="NewLoanInput.Amount" class="form-control"/>
                    <span asp-validation-for="NewLoanInput.Amount" class="text-danger"></span>
                </div>
                <input type="submit" class="btn btn-primary" value="Confirm Loan"/>
            </form>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="card-take" aria-labelledby="card-take-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="card-take-label">Card</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body" id="card-partial">
            <partial name="Shared/TurnBased/_CardPartial" model="null"/>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="rp-new" aria-labelledby="rp-new-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="rp-new-label">Reserve a Property</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" asp-page-handler="Reservation">
                <input type="hidden" asp-for="ReservationInput.PlayerId" value="@Model.CurrentPlayer?.GamePid"/>
                <input type="hidden" asp-for="SwitchPlayerId"/>
                <div class="mb-4">
                    <select class="form-control" asp-for="ReservationInput.Id" asp-items="Model.ReservationProperties"></select>
                </div>
                <input type="submit" class="btn btn-primary" value="Confirm"/>
            </form>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="rp-pay" aria-labelledby="rp-pay-label" style="height: 90%; overflow-y: scroll;">
    <div class="container-xxl">
        <div class="offcanvas-header">
            <h2 id="rp-pay-label">Pay Reservation Fee</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form method="post" asp-page-handler="PayReservation">
                <input type="hidden" asp-for="SwitchPlayerId"/>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Property</th>
                        <th style="width: 100px">Cost</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        var resTotal = 0;
                        var amounts = "";
                        foreach (var rp in resProps!)
                        {
                            var cost = ((int)(rp.Cost / 10d)).RoundToTen();
                            var paid = rp.ReservedAmount >= rp.Cost;
                            if (!paid)
                            {
                                resTotal += cost;
                                amounts += $"{rp.Id}-{cost}:";
                            }

                            <tr>
                                <td>@rp.Name</td>
                                <td>@Html.Raw(paid ? "<span class=\"text-success\"><b>Paid</b></span" : $"<span class=\"money\">\u20a9</span>{cost}")</td>
                            </tr>
                        }
                    }
                    <tr>
                        <td><b>Total</b></td>
                        <td><b><span class="money">₩</span>@resTotal</b></td>
                    </tr>
                    </tbody>
                </table>
                <input type="hidden" asp-for="PayReservationInput.Amounts" value="@amounts"/>
                <input type="hidden" asp-for="PayReservationInput.PlayerId" value="@Model.CurrentPlayer?.GamePid"/>
                <input type="submit" class="btn btn-primary mt-3" value="Pay Fee"/>
            </form>
        </div>
    </div>
</div>