@page "{id}"
@using MonopolyCL.Extensions
@using MonopolyCL.Models.Cards.Enums
@model MonopHelper.Pages.Cards.Actions.Setup

@{
    ViewData["Title"] = $"Setup {Model.Action.GetDisplayName()} Action";
}

<button class="btn btn-sm btn-primary rounded-pill px-3 mb-3" onclick="location.assign('/Cards/Actions/@(Model.Card.Id)')">Go Back</button>
<div class="card mb-4">
    <div class="card-header bg-info text-white">
        Card Information
    </div>
    <div class="card-body bg-light">
        <div class="row">
            <div class="col-sm-4">
                <div class="mt mb-3">
                    <label><b>Card Type:</b></label><br/>
                    <p>@Model.Card.CardType.Name</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt mb-3">
                    <label><b>Card Deck:</b></label><br/>
                    <p>@Model.Card.CardDeck.Name</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt mb-3">
                    <label><b>Card Deck Difficulty Rating:</b></label><br/>
                    <p>@Model.Card.CardDeck.DiffRating</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="mt mb-3">
                    <label><b>Card Text:</b></label><br/>
                    <p>@Model.Card.Text</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mt mb-3">
                    <label><b>Card Cost:</b></label><br/>
                    <p>@(Model.Card.Cost?.ToString() ?? "None")</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header @Model.Action.GetActionColour()">
        Setup @Model.Action.GetDisplayName() Action
    </div>
    <div class="card-body bg-light">
        <form method="post">
            @{
                switch (Model.Action)
                {
                    case CARD_ACTION.ADVANCE:
                        <div class="row">
                            <div class="col-sm-7">
                                <div class="mt mb-3">
                                    <p>Use the board shown to work out what the board index of a space is.</p>
                                </div>
                                <div class="mt mb-3">
                                    <label asp-for="ActionModel.AdvanceAction!.AdvanceIndex"></label>
                                    <input asp-for="ActionModel.AdvanceAction!.AdvanceIndex" class="form-control"/>
                                    <span asp-validation-for="ActionModel.AdvanceAction!.AdvanceIndex" class="text-danger"></span>
                                </div>
                                <div class="mt mb-3">
                                    <label asp-for="ActionModel.AdvanceAction!.Set"></label>
                                    <select asp-for="ActionModel.AdvanceAction!.Set" asp-items="Model.SetList" class="form-control"></select>
                                    <span asp-validation-for="ActionModel.AdvanceAction!.ClaimGo" class="text-danger"></span>
                                </div>
                                <div class="mt mb-3">
                                    <label asp-for="ActionModel.AdvanceAction!.ClaimGo"></label>
                                    <select asp-for="ActionModel.AdvanceAction!.ClaimGo" class="form-control">
                                        <option value="@false">No</option>
                                        <option value="@true">Yes</option>
                                    </select>
                                    <span asp-validation-for="ActionModel.AdvanceAction!.ClaimGo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-5 p-2">
                                <img src="~/board.png" width="100%" height="100%" alt="Monopoly Board"/>
                            </div>
                        </div>
                        break;
                    case CARD_ACTION.MOVE:
                        <p>Input the number of spaces the player will move.</p>
                        <div class="mt mb-3">
                            <label asp-for="ActionModel.MoveAction!.MoveAmount"></label>
                            <input asp-for="ActionModel.MoveAction!.MoveAmount" class="form-control"/>
                            <span asp-validation-for="ActionModel.MoveAction!.MoveAmount" class="text-danger"></span>
                        </div>
                        <div class="mt mb-3">
                            <label asp-for="ActionModel.MoveAction!.IsForward"></label>
                            <select asp-for="ActionModel.MoveAction!.IsForward" class="form-control">
                                <option value="@false">No</option>
                                <option value="@true">Yes</option>
                            </select>
                            <span asp-validation-for="ActionModel.MoveAction!.IsForward" class="text-danger"></span>
                        </div>
                        break;
                    case CARD_ACTION.KEEP_CARD:
                        <p>The player who draws this card will keep it.</p>
                        break;
                    case CARD_ACTION.CHOICE:
                        <p>The player who draws this card will either pay the cost on the card or take a card from the type selected below.</p>
                        <div class="mt mb-3">
                            <label asp-for="ActionModel.ChoiceAction!.CardTypeId"></label>
                            <select asp-for="ActionModel.ChoiceAction!.CardTypeId" asp-items="Model.CardTypeList" class="form-control"></select>
                            <span asp-validation-for="ActionModel.ChoiceAction!.CardTypeId" class="text-danger"></span>
                        </div>
                        break;
                    case CARD_ACTION.PAY_PLAYER:
                        <p>Select the player type - whether to pay to the left, right, or all players.</p>
                        <div class="mt mb-3">
                            <label asp-for="ActionModel.PayPlayerAction!.PayToType"></label>
                            <select asp-for="ActionModel.PayPlayerAction!.PayToType" asp-items="Model.PayTypeList" class="form-control"></select>
                            <span asp-validation-for="ActionModel.PayPlayerAction!.PayToType" class="text-danger"></span>
                        </div>
                        break;
                    case CARD_ACTION.STREET_REPAIRS:
                        <p>Input how much the player will pay for each house and each hotel they own.</p>
                        <div class="mt mb-3">
                            <label asp-for="ActionModel.StreetRepairsAction!.HouseCost"></label>
                            <input asp-for="ActionModel.StreetRepairsAction!.HouseCost" class="form-control"/>
                            <span asp-validation-for="ActionModel.StreetRepairsAction!.HouseCost" class="text-danger"></span>
                        </div>
                        <div class="mt mb-3">
                            <label asp-for="ActionModel.StreetRepairsAction!.HotelCost"></label>
                            <input asp-for="ActionModel.StreetRepairsAction!.HotelCost" class="form-control"/>
                            <span asp-validation-for="ActionModel.StreetRepairsAction!.HotelCost" class="text-danger"></span>
                        </div>
                        break;
                }
            }
            
            <input type="hidden" asp-for="CardId" value="@Model.Card.Id"/>
            <input type="hidden" asp-for="Action" value="@Model.Action"/>
            <div class="mt mb">
                <input type="submit" class="btn btn-warning" value="Create @Model.Action.GetDisplayName() Action"/>
            </div>
        </form>
    </div>
</div>