@model List<MonopolyCL.Models.Cards.CardType>

@{
    if (Model.Count > 0)
    {
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th style="width: 50px">Colour</th>
                <th>Type Name</th>
                <th style="width: 85px"></th>
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var ct in Model)
                {
                    <tr>
                        <td style="background: @(ct.Colour);"></td>
                        <td>@ct.Name</td>
                        <td>
                            <button class="btn btn-sm btn-link" onclick="EditCardType('@(ct.Id)', true)"
                                    title="Edit Card Type">
                                <span class="fa-solid fa-pencil"></span>
                            </button>
                            <button class="btn btn-sm btn-link" onclick="DeleteCardType('@(ct.Id)', '@(ct.Name)')"
                                    title="Delete Card Type">
                                <span class="fa-solid fa-x text-danger"></span>
                            </button>
                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    }
    else
    {
        <p>You have not defined any custom card types yet.</p>
    }
}
