@using MonopolyCL.Dictionaries
@using MonopolyCL.Helpers
@model List<(MonopolyCL.Models.Cards.Card Card, bool HasAction)>


@{
    if (Model.Count == 0)
    {
        <p>There are no cards in this deck.</p>    
    }
    else
    {
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr class="table-dark">
                <th>Card Type</th>
                <th>Card Text</th>
                <th>Cost</th>
                @if (Model.First().Card.CardDeck.TenantId != DefaultsDictionary.MonopolyTenant)
                {
                    <th style="width: 120px"></th>
                }
            </tr>
            </thead>
            <tbody>
            @{
                foreach (var ca in Model)
                {
                    var cost = ca.Card.Cost?.ToString() ?? "";
                    if (cost == "") cost = "-";
            
                    <tr>
                        <td style="background: @(ColourHelper.HoverColour(ca.Card.CardType.Colour)); color: @(ColourHelper.FontColour(ca.Card.CardType.Colour));">@ca.Card.CardType.Name</td>
                        <td>@ca.Card.Text</td>
                        <td>@cost</td>
                        @if (Model.First().Card.CardDeck.TenantId != DefaultsDictionary.MonopolyTenant)
                        {
                            <td>
                                <button class="btn btn-sm btn-link" onclick="location.assign('/Cards/Actions/@(ca.Card.Id)')"
                                        title="Card Action">
                                    <span class="fa-solid fa-microchip text-@(ca.HasAction ? "success" : "danger")"></span>
                                </button>
                                <button class="btn btn-sm btn-link" onclick="location.assign('/Cards/Edit/@(ca.Card.Id)')"
                                        title="Edit Card">
                                    <span class="fa-solid fa-pencil"></span>
                                </button>
                                <button class="btn btn-sm btn-link" onclick="DeleteCard('@(ca.Card.Id)')"
                                        title="Delete Card">
                                    <span class="fa-solid fa-x text-danger"></span>
                                </button>
                            </td>
                        }
                    </tr>
                }
            }
            </tbody>
        </table>       
    }
}